<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.powerall.plugin.getmd5"
    version="0.0.1">

    <name>GetMd5</name>
    <description>getmd5 plugin description</description>
    <license>Apache 2.0</license>
	<keywords>powerall,getmd5,powerall</keywords>
	
	<js-module src="www/getmd5.js" name="GetMd5">
		<clobbers target="md5" />
	</js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GetMd5Plugin">
                <param name="android-package" value="com.powerall.plugin.md5.GetMd5Plugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/GetMd5Plugin.java" target-dir="src/com/powerall/plugin/md5" />
    </platform>  

</plugin>
